* {
  padding: 0px;
  margin: 0px;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: whitesmoke;
}
.nav-btns {
  transition: 0.3s;
}
.nav-btns:hover {
  cursor: pointer;
  color: blue;
  transform: scale(0.8);
  box-shadow: 3px 7px 30px lightgray;
  border-radius: 20px;
}
.cart-btn {
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  border-color: blue;
  transition: 0.3s;
}
.cart-btn:hover {
  cursor: pointer;
  color: blue;
  transform: scale(0.8);
  cursor: pointer;
  box-shadow: 3px 7px 30px lightgray;
  border-radius: 20px;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}
#main p {
  width: 500px;
  padding: 3px;
}
#main img {
  transition: 0.3s;
  padding: 25px;
}
#item img {
  transition: 0.3s;
  height: 500px;
}
#item {
  display: flex;
}
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
#main img:hover,
#item img:hover {
  transform: scale(0.8);
  cursor: pointer;
  box-shadow: 3px 7px 30px lightgray;
  border-radius: 20px;
}
p {
  transition: 0.3s;
}
p:hover {
  cursor: pointer;
  transform: scale(0.8);
  box-shadow: 3px 7px 30px lightgray;
  border-radius: 20px;
  padding: 20px;
}
footer {
  background-color: whitesmoke;
  border-top: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.address {
  text-align: center;
}
.links {
  display: flex;
  gap: 10px;
}
.copy {
  text-align: end;
  padding-top: 5px;
}
